<h1>Find Annex</h1>

<div class="jumbotron jumbotron-fluid">
    <div class="container" style="margin-left:30%">
        <form>
            <div class="form-group row">
                <label for="province" class="col-sm-1 col-form-label">Province</label>
                <div class="col-sm-3">
                    <select (change)="setProvince($event.target.value)" class="form-control" id="exampleSelect1">
                        <option selected value="Any">Any</option>
                        <option *ngFor="let province of provinces" value="{{province.name}}">{{province.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="district" class="col-sm-1 col-form-label">District</label>
                <div class="col-sm-3">
                    <select class="form-control" id="exampleSelect1">
                        <option selected>Any</option>
                        <option *ngFor="let district of currentProvince.districts">{{district}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="gender" class="col-sm-1 col-form-label">Gender</label>
                <div class="col-sm-4">
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" checked>Male</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender">Female</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender">Any</label>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" style="margin-left:170px">Search</button>
        </form>
    </div>
</div>