<h1>Welcome
  <small>{{currentUser}}</small>
</h1>

<div class="container">
  <div class="myCard" *ngFor="let post of posts">
    <div class="card" style="width: 20rem" (click)="viewDetails(post)">
      <img class="card-img-top" [src]="post.images"
        alt="Card image cap"
        style="min-height: 15rem">
      <div class="card-body">
        <h4 class="card-title">{{post.name}}</h4>
        <p class="card-text"> {{ post.description | lengthTrimPipe }}</p>
      </div>
    </div>
    <button style="margin: 10px" class="btn btn-outline-primary" (click)="editPost(post)">Edit Post</button>
    <button style="margin: 10px" class="btn btn-outline-danger" (click)="deletePost(post)">Delete Post</button>
  </div>
</div>

<br><br><br>