<div class="card text-center">
    <div class="card-header">
        {{ post.name }} Details
    </div>
    <div class="card-body">
      <h4 class="card-title">{{post.name}}</h4>
      <img class="img-thumbnail" [src]="post.images" style="width:40%; box-shadow: 3px 3px 15px grey; margin-bottom: 10px" />
      <p class="card-text" style="color: #797a7c">{{post.description}}</p>
      <br>
    </div>
    <div class="container" style="text-align: left; margin-left:42%">
        <ul>
            <li><b>Province:</b> {{post.province}}</li>
            <li><b>District:</b> {{post.district}}</li>
            <li><b>Suitable for:</b> {{post.gender}}</li>
            <li><b>Price:</b> {{post.price}}</li>
        </ul>
    </div>
    <div class="card-footer text-muted">
      <button class="btn btn-primary" (click)="goBack()">Go Back</button>
    </div>
  </div>