<div class="jumbotron jumbotron-fluid">
    <div class="container" style="margin-left:30%">
        <form (ngSubmit)="signup()">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-4">
                    <input required [(ngModel)]="email" name="email" type="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-4">
                    <input required [(ngModel)]="password1" name="password1" type="password" class="form-control" placeholder="Password">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword2" class="col-sm-2 col-form-label">Re-Password</label>
                <div class="col-sm-4">
                    <input required [(ngModel)]="password2" name="password2" type="password" class="form-control" placeholder="Re-Password">
                </div>
            </div>

            <button [disabled]="password1!=password2 || password1.length<4" class="btn btn-primary" style="margin-left:470px">Signup</button>

            <div *ngIf="error && error.length>0" class="alert alert-danger" style="width:50%; margin-top:5px;">
                <p>{{error}}</p>
            </div>

            <div *ngIf="isSuccess" class="alert alert-success" style="width:50%; margin-top:5px;">
                <p>You have successfully Signed Up!</p>
            </div>
        </form>
    </div>
</div>