<div class="jumbotron jumbotron-fluid">
    <div class="container" style="margin-left:30%">
        <form (ngSubmit)="signup()" validate>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-4">
                    <input required [(ngModel)]="email" name="email" type="text" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-4">
                    <input required [(ngModel)]="password1" name="password1" type="password" class="form-control" placeholder="Password">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword2" class="col-sm-2 col-form-label">Re-Password</label>
                <div class="col-sm-4">
                    <input required [(ngModel)]="password2" name="password2" type="password" class="form-control" placeholder="Re-Password">
                </div>
            </div>

            <button class="btn btn-primary" style="margin-left:470px">Signup</button>
        </form>
    </div>
</div>