<h1>Add New</h1>

<div class="jumbotron jumbotron-fluid">
    <div class="container" style="margin-left:30%">
        <form (ngSubmit)="login()">
            <div class="form-group row">
                <label for="name" class="col-sm-1 col-form-label">Name</label>
                <div class="col-sm-4">
                    <input required [(ngModel)]="name" name="name" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="province" class="col-sm-1 col-form-label">Province</label>
                <div class="col-sm-3">
                    <select (change)="setProvince($event.target.value)" class="form-control" id="exampleSelect1">
                        <option selected value="Any">Any</option>
                        <option *ngFor="let province of provinces" value="{{province.name}}">{{province.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="district" class="col-sm-1 col-form-label">District</label>
                <div class="col-sm-3">
                    <select class="form-control" id="exampleSelect1">
                        <option selected>Any</option>
                        <option *ngFor="let district of currentProvince.districts">{{district}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="gender" class="col-sm-1 col-form-label">Gender</label>
                <div class="col-sm-4">
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" checked>Male</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender">Female</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender">Any</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="price" class="col-sm-1 col-form-label">Price(Rs.)</label>
                <div class="col-sm-2">
                    <input required [(ngModel)]="price" name="price" type="number" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-sm-1 col-form-label">Description</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="8" cols="8"></textarea>
                </div>
            </div>

            <div class="col-sm-6">
                <hr>
                <h4>Upload Images</h4>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="image1" class="col-sm-1 col-form-label">Image1</label>
                        <input type="file" name="img1" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="image2" class="col-sm-1 col-form-label">Image2</label>
                        <input type="file" name="img2" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="image2" class="col-sm-1 col-form-label">Image3</label>
                        <input type="file" name="img3" class="form-control">
                    </div>
                </div>

            </div>

            <button class="btn btn-primary" style="margin-left:100px; width: 350px">Add</button>

            <div *ngIf="error && error.length>0" class="alert alert-danger" style="width: 50%; margin-top:5px;">
                <p>{{error}}</p>
            </div>
        </form>
    </div>
</div>